<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Expense List</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h2>Expense List</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="expense : ${expenses}">
    <td th:text="${expense.id}"></td>
    <td th:text="${expense.date}"></td>
    <td th:text="${expense.amount}"></td>
    <td th:text="${expense.category.name}"></td>
    <td th:text="${expense.description}"></td>
    <td><a th:href="@{/expenses/edit/{id}(id=${expense.id})}">Edit</a></td>
    <td><a th:href="@{/expenses/delete/{id}(id=${expense.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
<a href="/expenses/add">Add New Expense</a>

<a th:href="@{/expenses/home}">Go to Home</a>
</body>
</html>
